
:root {
  --good-color: rgba(76,175,80,1);
  --bad-color: rgba(244,67,54,1);
  --grey: #999999;
  --white-hex: #FEFEFE;
  --white-rgb-val: 255, 255, 255;
  --black-hex: #0A0A0C;
  --black-rgb-val: 10, 10, 12;
  --pink-hex: #FF7071;
  --pink-rgb-val: 255, 112, 113;
  --orange-hex: #FCA325;
  --orange-rgb-val: 252, 163, 37;
  --red2-hex: #B80000;
  --dark-red-hex: #890000;
  --dark-red-rgb-val: 137, 0, 0;
  --light-blue-hex: #C9E1E9;
  --light-blue-rgb-val: 201, 225, 233;
  --light-green-hex: #D0E8C1;
  --light-green-rgb-val: 208, 232, 193;
  --yellow-hex: #FFD500;
  --yellow-rgb-val: 255, 213, 0;
  --dark-yellow-hex: #7E601F;
  --dark-yellow-rgb-val: 126, 96, 31;
  --rage-0-hex: #FEFEFE;
  --rage-0-rgb-val: 254, 254, 254;
  --rage-50-hex: #F89900;
  --rage-50-rgb-val: 248, 153, 0;
  --rage-100-hex: #EF0D00;
  --rage-100-rgb-val: 239, 13, 0;
  --rage-150-hex: #C2002B;
  --rage-150-rgb-val: 194, 0, 43;
  --rage-200-hex: #A2022D;
  --rage-200-rgb-val: 162, 2, 45;
  --rage-300-hex: #850020;
  --rage-300-rgb-val: 133, 0, 32;
}
