<h1>Hey</h1>
<p>
  This site is mostly a tool meant to be used on mobile devices for a quick reference against specific characters.
  For now is limited to inkling data, but if you have any feedback
  feel free to reach out to me at
  <a href="https://twitter.com/davecreate_" target="_blank">twitter.com/davecreate_</a>,
  <a href="https://www.twitch.tv/davecreate" target="_blank">twitch.tv/davecreate</a> or
  discord at <strong>davecreate#1792</strong>
</p>
<h2>Sources</h2>
<p>
  Most sources comes from the
  <a href="https://docs.google.com/document/d/17VMBLk1itFDLA3rjyEtZ6O4Ip31FwlFeV53gFfdznhU/edit" target="_blank">Inkling Discord Resources Document</a>.
  Below are some of the original assets used to gather the data for the hints.
</p>
<h3>Boo Yah Percentages (dlc)</h3>
<p>
  <a href="https://docs.google.com/document/d/1jf0rcGdOWIawrsSR_6VlNxKETC5nqphO6yAehEPiC0M/edit" target="_blank">
    Boo-Yah on DLC after Joker Goole Document
  </a>
</p>
<p>
  By <a href="https://twitter.com/KiseSeryuu_AOA" target="_blank">twitter.com/KiseSeryuu_AOA</a>
</p>
<h3>Boo Yah Percentages (base)</h3>
<img src="assets/originals/booyah-percentages.jpeg">
<p>
  By <a href="https://twitter.com/big_saffron" target="_blank">twitter.com/big_saffron</a>
</p>
<h3>Smash Attack after Roller</h3>
<img src="assets/originals/upsmash-on-roller.png">
<h3>Down Smash on Ledge</h3>
<img src="assets/originals/dsmash-hits-on-ledge.jpg">
<h3>Short Hop FAir (standing)</h3>
<img src="assets/originals/can-be-hit-by-sh-fair.jpg">
<h3>Short Hop FAir (dashing)</h3>
<img src="assets/originals/dashing-characters-that-can-be-hit-by-sh-fair.jpg">
<h3>Projectiles Inkling can dash under</h3>
<p>
  <a href="https://docs.google.com/spreadsheets/d/179ZGHA_1JrzhuxfsM09wy6L2OpN_ZswklVzLshVr0nQ/edit#gid=0" target="_blank">
    Inkling Resources Google Sheet
  </a>
</p>
<h3>What Can splattershot beat ?</h3>
<p>
  <a href="https://www.youtube.com/watch?v=qS-RJ7VAZB8&feature=youtu.be" target="_blank">
    Inkling Resources Youtube Video
  </a>
  &
  <a href="https://docs.google.com/spreadsheets/d/1WWrgcX9M-RmhvfG0-rysxYRFMFrGiHmTxlDYbt2OAoM/edit#gid=598571209" target="_blank">
    Inkling Resources Google Sheet
  </a>
</p>
