.title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin: 0 0 12px;
}

.move-img {
  display: block;
  width: 120px;
  float: right;
  margin: 0 0 12px 12px;
}

.wrapper {
  padding: 24px;
  background-color: rgba(var(--light-blue-rgb-val), 0.2);
  border-bottom: solid 1px var(--light-blue-hex);

  &::after {
    content: "";
    clear: both;
    display: table;
  }

  &:nth-child(even) {
    background-color: rgba(var(--light-blue-rgb-val), 0.4);
  }
}

.dash-under-item {
  margin-right: 12px;
  margin-bottom: 6px;
}

.dash-under-item {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.caption {
  color: grey;
}

video {
  display: block;
  width: 100%;
  padding-right: 12px;
  margin-top: 12px;
}

.action {
  text-transform: uppercase;
  font-weight: bold;
}

.good {
  color: var(--good-color);
}

.bad {
  color: var(--bad-color);
}

.splattershot-text {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin-top: 16px;

  strong {
    font-weight: bold;
  }

  span {
    display: inline-block;
    margin-left: 6px;
    color: grey;
  }
}

.splattershot-button {
  position: relative;
  display: inline-block;
  padding: 8px 24px;
  font-weight: bold;
  font-size: 14px;
  appearance: none;
  border: none;
  text-align: left;
  outline: none;
  cursor: pointer;
  box-shadow:
    inset 0 2px 0 rgba(var(--white-rgb-val), 0.5),
    inset -2px -2px 0 rgba(var(--dark-yellow-rgb-val), 0.2),
    inset -4px -4px 0 rgba(var(--dark-yellow-rgb-val), 0.2);
  border-radius: 0;
  margin: 0;
  background-color: var(--yellow-hex);
  margin-top: 6px;
  font-family: 'Roboto', sans-serif;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid rgba(var(--dark-yellow-rgb-val), 0.72);
    border-top: 2px solid transparent;
    height: 100%;
    width: 0;
    transform: rotateY(2deg);
  }
}
