<div class="wrapper" *ngFor="let move of moves">
  <img *ngIf="move.filename" class="move-img" [src]="'/assets/moves/' + move.filename" />
  <div class="text-section">
    <h4 class="title">{{ moveName(move) }}</h4>
    <ul *ngIf="move.dashUnder?.length > 0" class="dash-under-list">
      <li class="dash-under-item" *ngFor="let dash of move.dashUnder">
        <span
          class="action"
          [ngClass]="{
            'good': dash.value,
            'bad': !dash.value
          }"
        >
          {{dash.value ? 'can' : 'cannot'}}
        </span>
        Dash Under
        <span
          class="caption"
          *ngIf="dash.note"
        >
          — {{dash.note}}
        </span>
      </li>
    </ul>
  </div>
  <div *ngIf="move.splattershot" class="splattershot">
    <p class="splattershot-text">
      <strong>Splattershot ({{move.splattershot?.effect}}) Effect</strong>
      <span>— {{move.splattershot?.label?.effect}}</span>
      <span *ngIf="move.splattershot?.note">({{move.splattershot?.note}})</span>
    </p>
    <button
      class="splattershot-button"
      *ngIf="move.splattershot?.clip"
      (click)="toggleSplattershotClip(move.id)">
      Press to {{ (splattershotEffectShown[move.id]) ? 'Hide' : 'Show' }} Splattershot Effect Clip
    </button>
    <video *ngIf="splattershotEffectShown[move.id]" autoplay loop muted playsinline>
      <source [src]="'/assets/splattershot-clips/' + move.splattershot?.clip">
    </video>
  </div>
</div>
