:host {
  display: block;
  min-width: 100%;
}

h1 {
  width: 100%;
  position: relative;
  z-index: 1;
  background-color: var(--black-hex);
  color: var(--white-hex);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  padding: 6px;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 4px;
    background-image: linear-gradient(
      90deg,
      rgb(var(--orange-rgb-val)) 0,
      rgb(var(--yellow-rgb-val)) 50%,
      rgb(var(--orange-rgb-val)) 100%,
    );
  }

  &::after {
    top: 100%;
    box-shadow: 0 2px 4px rgba(var(--black-rgb-val), 0.5);
  }
}